<body>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.min.css">

    <div class="black-background">
      <nav>
        <img src="../../img/tyrannosaurus-rex.svg">
        <p>VaVapp</p>
      </nav>

      <div class="navigation-menu">
        <div class="nav-button">
          <p>Round Robin</p>
          <img src="../../img/timer.svg">
        </div>
        <div class="nav-button">
          <p>FCFS</p>
          <img src="../../img/chart-gantt.svg">

        </div>

      </div>
    </div>

</body>
